<div class="registration-form m-3 p-4">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input formControlName="firstName" matInput placeholder="Firstname">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" matInput placeholder="Lastname">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Email">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input formControlName="mobile" matInput placeholder="Mobile No">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Weight</mat-label>
              <input formControlName="weight" matInput placeholder="Weight in KGs">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Height</mat-label>
              <input formControlName="height" matInput placeholder="Height in Meters">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>BMI</mat-label>
              <input formControlName="bmi" matInput placeholder="BMI">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>BMI Result</mat-label>
              <input formControlName="bmiResult" matInput placeholder="BMI Result">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label id="example-radio-group-label">Select Your Gender</label>
          <mat-radio-group formControlName="gender" aria-labelledby="example-radio-group-label"
            class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let gender of ['Male','Female']" [value]="gender">
              {{gender}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="col-md-6">Selected Gender is : </div>
        </div>

        <div class="col-md-6">
          <label id="example-radio-group-label">Do you require trainer?</label>
          <mat-radio-group formControlName="requireTrainer" aria-labelledby="example-radio-group-label"
            class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let opt of ['Yes','No']" [value]="opt">
              {{opt}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="col-md-6">Selected Option is : </div>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>
              Select Package
            </mat-label>
            <mat-select formControlName="package">
              <mat-option [value]="package" *ngFor="let package of packages">{{package}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Which of the following is important to You?</mat-label>
            <mat-select formControlName="important" multiple>
              <mat-option [value]="opt" *ngFor="let opt of importantList">{{opt}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Have been Gym Before?</mat-label>
            <mat-select formControlName="haveGymBefore">
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input formControlName="enquiryDate" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="accent">Submit</button>
    </form>
  </div>
</div>